@use "reset";

main {
    padding: 1rem;
    width: min(85ch, 100vw - 1rem); // used to be max-w, idk why but this better
    margin-inline: auto;
    background-color: lightcoral;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: min(85ch, 100vw - 1rem);
    margin-inline: auto;
}

.navbar {
    width: 100%;
    background-color: lightskyblue;
    
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 4rem;
        max-width: min(85ch, 100vw - 1rem);
        margin-inline: auto;
        padding-left: 1rem;
        padding-right: 1rem;

    }
    &__button {
        background-color: transparent;

        @media (min-width: 600px) {
            display: none;
        }
    }

    &__collapse {
        @media (max-width: 599px) {
            display: none;
        }
        > ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
        &--show {
            display: block;
            width: 100%;
            > ul {
                flex-direction: column;
                padding: 0;
            }
        }
    }
}

footer {
    background-color: black;
    color: white;
    padding-bottom: 2rem;
    padding-top: 1rem;

    > * > p > a {
        color: lightblue;
    }
}

