<footer>
    <div class="container">
        <p>
            Sida skapad av <a href="https://github.com/Hjalmar-Lundmark">Hjalmar Lundmark</a> |
            <a href="https://github.com/Hjalmar-Lundmark/Template-node">Github</a>.
        </p>
    </div>
</footer>