{% extends "layout.njk" %}
{% block content %}

<h1>{{ title }}</h1>
<p>
    Under sommarlovet '23 insåg jag att min folder med java-program som automatiserar saker och matematiska uträkningar för mig börjar bli stor och att det skulle (kanske) 
    passa bättre på en hemsida. Därför skapade jag detta till stor del för att repetera Node och Backend programerande. 
</p>

<a href="/mock"><button>mOcKiNg TeXt</button></a>
<a href="vhDMG"><button>WIP</button></a>


{% endblock %}