{% extends "layout.njk" %}
{% block content %}

<h1>{{ title }}</h1>
<p>
    Någonsin velat kunna göra din text till att varannan bokstav är stor utan att måsta skriva om stycket? <br>Här har du din lösning, skriv eller pasta in i rutan nedanför 
    och få ut det i så kallad 'mOcKiNg TeXt' eller 'retande text'. Därifrån kan du kopiera och skicka det till någon rö att automatiskt vinna ditt argument. 
    lYcKa TiLl!
</p>

<form action="/mock" method="post">
    <label for="in">In: </label>
    <textarea name="in" id="in" cols="30" rows="10"></textarea>
    <label for="out">Out: </label>
    <input type="text" name="out" id="out">
</form>

{% endblock %}